body
{
}

.contentCell
{
    vertical-align: top;
}

.cities
{
    border: 1px solid #9f9f9f;
    border-collapse: collapse;
}

.citiesHeader
{
    background-color: rgb(220, 220, 220);
    border: 1px solid #9f9f9f;
    border-collapse: collapse;
    padding: 4px 6px 5px;
}

.citiesCell
{
    border: 1px solid #9f9f9f;
    border-collapse: collapse;
}
